<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Posted on</th>
      <th>Created By</th>
	    <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.title %></td>
        <td><%= announcement.description %></td>
        <td><%= announcement.posted_on %></td>

        <td><%= User.where(id: announcement.user_id).last.email %></td>

        <% if announcement.event_id.present? %>
          <td><%= Event.where(id: announcement.event_id).last.title %></td>
        <% else %>
          <td>ALL</td>
        <% end %>
			
        <td><%= link_to 'Show', announcement %></td>
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_announcement_path %>
<br>
<%= link_to 'Home', root_path %>
