<p style="color: red"><%= alert %></p>
<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table-row-spacing">
    <tr>
      <td>
        <%= form.label :title %>
      </td>
      <td>
        <%= form.text_field :title %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :description %>
      </td>
      <td>
        <%= form.text_area :description %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :date %>
      </td>
      <td>
        <%= form.date_field :date %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :event_time_start %>
      </td>
      <td>
        <%= form.time_field :event_time_start %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :event_time_end %>
      </td>
      <td>
        <%= form.time_field :event_time_end %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit class:'btn' %>
    <%= link_to 'Cancel', events_path, class:'btn' %>
  </div>
<% end %>
