<html>
  <body>
    <div class="vertical-center horizontal-center">
      <div class="form">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Title:</strong>
          <%= @event.title %>
        </p>

        <p>
          <strong>Description:</strong>
        </p>
        <p style="max-width: 500px;" class="desc"><%= @event.description %></p>

        <p>
          <strong>Date:</strong>
          <%= @event.date %>
        </p>

        <p>
          <strong>Start Time:</strong>
          <%= @event.event_time_start.strftime("%I:%M %p") %>
        </p>

        <p>
          <strong>End Time:</strong>
          <%= @event.event_time_start.strftime("%I:%M %p") %>
        </p>
        
        <div class="actions">
          <%= link_to 'Back to Events', events_path %>
          <%= link_to 'Home', root_path %>
        </div>
      </div>
    </div>
  </body>
</html>