<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @permission.title %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @permission.is_admin %>
</p>

<p>
  <strong>Create modify events:</strong>
  <%= @permission.create_modify_events %>
</p>

<p>
  <strong>Create modify announcements:</strong>
  <%= @permission.create_modify_announcements %>
</p>

<p>
  <strong>View all attendances:</strong>
  <%= @permission.view_all_attendances %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'View Permissions', permissions_path %>
