<h1>You're logged in! Welcome to the Admin Dashboard!</h1>

<%= link_to "Make Event", new_event_path %>
</br>
<%= link_to "View Events", events_path %>
</br>
<%= link_to "Log Attendance Record", new_attendance_path %>
</br>
<%= link_to "View Attendance Records", attendances_path  %>
</br>
<%= link_to "View Users", users_path %>
</br>
</br>
<%= link_to "Sign Out", destroy_admin_session_path %>
</br>