<style>
    body {  
        margin: 0;  
        padding: 0;  
        background-color: #23463F; 
        font-family: 'Arial';  
    }  

    #block1 {
        background-color: #F5F5F5;
        margin: 10px 20px;
        padding: 20px;
        width: 360px;
        float: left;
    }

    #block2 {
        background-color: #F5F5F5;
        margin: 10px 20px;
        padding: 20px;
        width: 360px;
        float: right;
    }

    .wrapper {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
    }

    .column {
        width: 50%;
        margin: 15px;
        background: #e0e0e0;
        min-height: 65vh;
        max-height: 70vh;
        overflow: auto;
    }

    .panel, .panel-heading, .column {
        border-radius: 15px 15px 0 0;
    }

    .panel-title {
        font-size: 24px;
    }

    .panel-heading {
        border-bottom: 10px black solid;
    }

    .panel-body {
        border-bottom: 1px black solid;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #919191;
    }

    .active {
        background-color: #04AA6D;
    }


    a {
        display: block;
        pading: 8px;
        background-color: #dddddd;
    }

    a:visited {
        color: inherit;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #919191;    /* color of the scroll thumb */
        border-radius: 0 20px 0 0;
    }
</style>

<html>
    <div>
        <ul>
            <li class= "active">
                <%= link_to "Home", root_path %>
            </li>

            <li>
                <%= link_to "Events", events_path %>
            </li>
            
            <li>
                <%= link_to "Attendance", attendances_path  %>
            </li>

            <li>
                <% if @is_admin %>
                    <%= link_to "Manage Users", users_path %>
                <% end %>
            </li>

            <li>
                <%= link_to "Announcements", announcements_path %>
            </li>

            <li>
                <%= link_to "Help Page", '/help' %>
            </li>

            <% if @is_admin %>
                <li>
                    <%= link_to "Download Report", '/download', format: "xlsx" %>
                </li>
            <% end %>

            <li style="float:right;">
                <%= link_to "Sign Out", destroy_admin_session_path %>
            </li>
            
        </ul>
    </div>

    <div style="display: flex; flex-direction: column">
        <h1 style="color: white; text-align:center; ">Welcome, <%= @user.first_name %>!</h1>
        <p id="notice"><%= notice %></p>
        <div class="wrapper">
            <div class="column">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Recent Announcements</h1>
                    </div>
                    <% if @announcements.empty? %>
                        No recent announcements.
                    <% else %>
                        <% @announcements.last(4).reverse_each do |announcement| %>
                            <div class="panel-body">
                                <tbody>
                                    <tr>
                                        <% @event_name = "ALL" %>
                                        <% @event_name = Event.where(id: announcement.event_id).first.title if !announcement.event_id.nil? %>
                                        <td> <div style="text-align:center; font-size:20px;">[<%= @event_name %>] <%= announcement.title %> </div> </td>
                                        <td> <div style="text-align:center"> <%= User.where(id: announcement.user_id).last.first_name %> <%= User.where(id: announcement.user_id).last.last_name %></div> </td>
                                        <td> <div style="text-align:center"> <%= announcement.posted_on.strftime('%d/%m/%Y, %I:%M %P') %> </div> </td>
                                        <br>
                                        <td> Description: </td>
                                        <td> 
                                            <div class="desc">  
                                                <%= announcement.description[0..100] %>
                                                <% if announcement.description.length > 100 %>
                                                    <p style="display: inline">...</p>
                                                <% end %>
                                            </div>
                                        </td>
                                        <br>
                                    </tr>
                                    
                                </tbody>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>

            <div class="column">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Upcoming Events</h1>
                    </div>
                    <% if @events.empty? %>
                        Check the events tab to sign up for upcoming events.
                    <% else %>
                        <% @events.last(4).reverse_each do |event| %>
                            <div class="panel-body">
                                <tbody>
                                    <tr>
                                        <td> <div style="text-align:center; font-size:20px;"> <%= event.title %> </div> </td>
                                        <td> <div style="text-align:center"> <%= event.date %> </div> </td>
                                        <br>
                                        <td> Description: </td>
                                        <div class="desc">
                                            <%= event.description[0..100] %>
                                            <% if event.description.length > 100 %>
                                                <p style="display: inline">...</p>
                                            <% end %>
                                        </div>

                                        <br>
                                    </tr>
                                </tbody>
                            </div>
                        <% end %> 
                    <% end %>
                </div>
            </div>
        </div>
    </div> 
</html>