<p id="notice" style="color: red"><%= notice %></p>


<style>

body {  
    margin: 0;  
    padding: 0;  
    background-color: #23463F;
    font-family: 'Arial';  
}  

#block1 {
    background-color: #F5F5F5;
    padding: 20px;
    float: left;
}

#block2 {
    background-color: #F5F5F5;
    padding: 20px;
    float: right;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    background: #e0e0e0;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #919191;
}

.active {
    background-color: #04AA6D;
}


a {
    display: block;
    pading: 8px;
    background-color: #dddddd;
}

a:visited {
    color: inherit;
}


</style>



<html>
    <div>
        <ul>
            <li class= "active">
                <%= link_to "Home", root_path %>
            </li>

            <li>
                <% if @create_modify_events %>
                    <%= link_to "Make Event", new_event_path %>
                <% end %>
            </li>

            <li>
                <%= link_to "View Events", events_path %>
            </li>

            <li>
                <%= link_to "Log Attendance Record", new_attendance_path %>
            </li>
            
            <li>
                <%= link_to "View Attendance Records", attendances_path  %>
            </li>

            <li>
                <% if @is_admin %>
                    <%= link_to "Manage User Permissions", users_path %>
                <% end %>
            </li>

            <li>
                <% if @create_modify_announcements %>
                    <%= link_to "Make Announcement", new_announcement_path %>
                <% end %>
            </li>

            <li>
                <%= link_to "View Announcements", announcements_path %>
            </li>

            <li style="float:right;">
                <%= link_to "Sign Out", destroy_admin_session_path %>
            </li>
            
        </ul>
    </div>


    <div>
        <h1 style="color: white;">Welcome, <%= @user.first_name %>!</h1>
    </div>

    <div class="wrapper">

        <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <h2 style="float: left;">
                Announcements
            </h2>

            <h2 style="float: right;">
                Active Events
            </h2>
        </div>


        <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div id="block2">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>First Name</th>
                        <th>Posted On</th>
                        <th>Description</th>
                    </tr>
                    <% @announcements.each do |announcement| %>
                        <tr>
                            <td><%= announcement.title %></td>
                            <td><%= User.where(id: announcement.user_id).last.first_name %></td>
                            <td><%= announcement.posted_on.strftime('%d/%m/%Y, %I:%M %P') %></td>
                            <td><%= announcement.description %></td>
                        </tr>
                    <% end %>
                </table>
            </div>

            <div id="block1">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Last modified (CST)</th>
                        <th>Created By</th>
                        <th>Event</th>
                    </tr>
                    <% @announcements.each do |announcement| %>
                    <tr>
                        <td><%= announcement.title %></td>
                        <td><%= announcement.description %></td>
                        <td><%= announcement.posted_on.strftime('%d/%m/%Y, %I:%M %P') %></td>

                        <td><%= User.where(id: announcement.user_id).last.first_name %></td>

                        <% if announcement.event_id.present? %>
                        <td><%= Event.where(id: announcement.event_id).last.title %></td>
                        <% else %>
                        <td>ALL</td>
                        <% end %>
                    </tr>
                    <% end %>
                </table>
            </div>

        </div>

        
    </div>

    


</html>