<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Howdy, <%= @user.first_name %></h1>
      
      <% if @announcement.id.nil? %>
         <p>GLOBAL ANNOUNCEMENT: <b><%= @announcement.title %></b></p>
      <% else %>
         <p>This is a reminder for: <b><%= @announcement.title %></b></p>
      <% end %>

      <p><%= @announcement.description %></p>

      <p> <%= @url %> </p>

      <p>Do not reply to this email</p>
      
   </body>
</html>