<p id="notice"><%= notice %></p>

<h1>Timeslot</h1>

<table>
  <thead>
    <tr>
      <th>Timeslot ID</th>
      <th>Attendance ID</th>
      <th>Attend Time Start</th>
      <th>Attend Time End</th>
      <th>Event Time Start</th>
      <th>Event Time End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td><%= timeslot.timeslot_id %></td>
        <td><%= timeslot.attendance_id %></td>
        <td><%= timeslot.attend_time_start %></td>
        <td><%= timeslot.attend_time_end %></td>
        <td><%= timeslot.event_time_start %></td>
        <td><%= timeslot.event_time_end %></td>
        <td><%= link_to 'Show', timeslot %></td>
        <td><%= link_to 'Edit', edit_timeslot_path(timeslot) %></td>
        <td><%= link_to 'Destroy', timeslot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeslot', new_timeslot_path %>
