<p style="color: red"><%= alert %></p>
<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table-row-spacing">
    <tr>
      <td>
        <%= form.label :event_id %>
      </td>
      <td>
        <%= form.select :event_id, Event.order(:title).map { |event| [event.title + " | " + event.date.to_date.to_s + ", starts at " + event.event_time_start.strftime("%I:%M %p") + ", ends at " + event.event_time_end.strftime("%I:%M %p"), event.id] }, include_blank: true, id: "id_of_the_event_id_select_box" %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :attend_time_start %>
      </td>
      <td>
        <%= form.time_field :attend_time_start %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :attend_time_end %>
      </td>
      <td>
        <%= form.time_field :attend_time_end %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label "Do you plan to attend, but have not yet?" %>
      </td>
      <td>
        <%= form.check_box :plans_to_attend %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Cancel', attendances_path %>
  </div>
<% end %>
