<p style="color: red"><%= alert %></p>
<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.select :event_id, Event.order(:title).map { |event| [event.title, event.id] }, include_blank: true, id: "id_of_the_event_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :attend_time_start %>
    <%= form.time_field :attend_time_start %>
  </div>

  <div class="field">
    <%= form.label :attend_time_end %>
    <%= form.time_field :attend_time_end %>
  </div>

  <div class="field">
    <%= form.label "Do you plan to attend, but have not yet?" %>
    <%= form.check_box :plans_to_attend %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
