<p id="notice"><%= notice %></p>

<h1>Attendance Records</h1>

<table>
  <thead>
    <tr>
      <th>Event ID</th>
      <th>User ID</th>
      <th>Attendance Time Start</th>
	  <th>Attendance Time End</th>
	  <th>Plans to Attend?</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.event_id %></td>
        <td><%= attendance.user_id %></td>
        <td><%= attendance.attend_time_start %></td>
		<td><%= attendance.attend_time_end %></td>
		<td><%= attendance.plans_to_attend %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance Record', new_attendance_path %>
<br>
<%= link_to 'Home', root_path %>
