<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= Event.where(id: @attendance.event_id).first.title %>
</p>

<p>
  <strong>Created By:</strong>
  <%= User.where(id: @attendance.user_id).first.email %>
</p>

<p>
  <strong>Attendance Time Start:</strong>
  <%= @attendance.attend_time_start %>
</p>

<p>
	<strong>Attendance Time End:</strong>
	<%= @attendance.attend_time_end %>
</p>

<p>
	<strong>Plans to Attend?</strong>
	<%= @attendance.plans_to_attend %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'View Attendances', attendances_path %>
