<p id="notice"><%= notice %></p>

<p>
  <strong>Event ID:</strong>
  <%= @attendance.event_id %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @attendance.user_id %>
</p>

<p>
  <strong>Attendance Time Start:</strong>
  <%= @attendance.attend_time_start %>
</p>

<p>
	<strong>Attendance Time End:</strong>
	<%= @attendance.attend_time_end %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
